.formperson{
    width: 40%;
}
.formperson__input{
    margin-top: 10px;
}
.formperson__wrapper{
    display: flex;
}
.formperson__zipcode{
    margin-right: 10px;
    width: 30%;
}
.formperson__town{
    width: 70%;
}

.formperson__nip{
    width: 100%;
}

@media screen and (max-width: 800px) {
    .formperson{
        width: 90%;
    }
}