.cost {
  position: relative;
}

.cost,
.cost__items {
  margin-bottom: 5px;
  background: #ebebebfa;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.cost__items{
  width: 100%;
  flex-wrap: 1 1;
}
.cost__item{
  display: flex;
  gap: 5px;
}

.cost__actions {
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.cost__edit {
  position: absolute;
  left: 0;
  width: 100%;
  margin: 0 auto;
  transform: scaleY(0);
  transform-origin: 50% 0;
  transition: transform 0.75s ease;
  z-index: 10;
}

.cost__edit.expanded {
  transform: scaleY(1);
}

@media screen and (max-width: 800px) {
  .cost {
    justify-content: center;
  }

  .cost__item {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }
}