.cost {
  position: relative;
}

.cost,
.cost__items {
  margin-bottom: 5px;
  background: #ebebebfa;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.cost__items {
  width: 83%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 10px
}

.cost__item {
  display: flex;
  width: calc(100% / 5);
  flex-direction: column;
  gap: 5px;
  flex: 1 1;
}

.cost__actions {
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex: 1 1;
}

.cost__edit {
  position: absolute;
  left: 0;
  width: 100%;
  margin: 0 auto;
  transform: scaleY(0);
  transform-origin: 50% 0;
  transition: transform 0.75s ease;
  z-index: 10;
}

.cost__edit.expanded {
  transform: scaleY(1);
}

@media screen and (max-width: 800px) {
  .cost {
    justify-content: center;
  }
.cost__items {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .cost__item {
    width: 100%;
    margin-bottom: 10px;
    flex-direction: row;
    justify-content: space-between;
  }
}