.formbuyer{
    width: 40%;
}
.formbuyer__input{
    margin-top: 10px;
}
.formbuyer__wrapper{
    display: flex;
}
.formbuyer__zipcode{
    margin-right: 10px;
    width: 30%;
}
.formbuyer__town{
    width: 70%;
}

.formbuyer__nip{
    width: 100%;
}