.deleteConfirmationModal{
    position: fixed;
    top:0;
    left:0;
    z-index: 1000;
    height: 100%;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.deleteConfirmationModal__content{
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    text-align: center;
}

.deleteConfirmationModal__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

/* body.no-scroll {
    overflow: hidden;
} */