.menu__ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-inline-start: 0px;
    width: 100%;
}
.menu__ul li {
    display: block;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    border-bottom: 3px solid #a4b0cc;
    padding-bottom: 10px;
    border-top: 3px solid transparent;
    margin-left: 10px;
}
.menu__ul li::before {
    content: "";
    display: block;
    border-top: 3px solid #a4b0cc;
    margin-bottom: 5px;
    padding-top: 5px;
    transition: transform 0.75s ease-in-out;
    transform: scaleX(0);
    transform-origin: 0 50%;
    
}

.menu__ul li:hover::before {
    transform: scaleX(1);
}
.menu__ul a {
    text-decoration: none;
    color: #fafafafa;
    letter-spacing: 1.5px;
    font-weight: 600;
    display: block;
    height: 100%;
    width: 100%;
    margin-top: -10px;
    border-top: 3px solid transparent;
    padding-top: 5px;
    transition: border-top 0.75s ease-in;
}
.menu__mobile{
    display: none;
}
@media screen and (max-width: 800px) {
    .menu__ul{
        display: none;
    }

    .menu__mobile{
        display: block;
        position: relative;
        z-index: 999;
        transition: all 0.75s ease;
    }
    .menu__mobileIcon{
        cursor: pointer;
    }
    .menu__ulMobile{
        position: absolute;
        top: 30px;
        background: #3f4d70;
        list-style-type: none;
        transition: transform 0.3s ease-in;
        transform-origin: 0 top;
    }
    .menu__ulMobile li{
        margin-bottom: 5px;
        background: #667995;
        transition: background 0.5s ease-in;
        cursor: pointer;
    }
    .menu__ulMobile li:hover{
        background: #3f4d70;
    }
    .menu__ulMobile li a{
        text-decoration: none;
        color: #ffffff;
        opacity: 1;
        display: block;
        padding: 10px;
    }
}