.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 60%;
    padding-inline-start: 0px;
    
}
.menu li {
    display: block;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    border-bottom: 3px solid #a4b0cc;
    padding-bottom: 10px;
    border-top: 3px solid transparent;
}
.menu__link{
    border-top: 3px solid #a4b0cc;
}
.menu li::before {
    content: "";
    display: block;
    border-top: 3px solid #a4b0cc;
    margin-bottom: 5px;
    padding-top: 5px;
    transition: transform 0.75s ease-in-out;
    transform: scaleX(0);
    transform-origin: 0 50%;
}

.menu li:hover::before {
    transform: scaleX(1);
}
.menu a {
    text-decoration: none;
    color: #fafafafa;
    letter-spacing: 1.5px;
    font-weight: 600;
    display: block;
    height: 100%;
    width: 100%;
    margin-top: -10px;
    border-top: 3px solid transparent;
    padding-top: 5px;
    transition: border-top 0.75s ease-in;
}
