.selectedYear {
    height: 75%;
    padding: 20px 40px;
}
.selectedYear > h2{
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 40px;
}
.selectedYear form,
.selectedYear__select>div {
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 5px;
}

.selectedYear__input {
    margin-bottom: 10px;
    width: 100%;
}

.selectedYear form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.selectedYear button {
    cursor: pointer;
}

.selectedYear__addYear {
    height: 30vh;
}

/* ul  */
.selectedYear__items {
    box-sizing: border-box;
    list-style-type: none;
    padding: 10px 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #000000;
    /* gap: 40px; */
}

/* li */
.selectItem__year--default {
    color: #000000;
}
.selectItem__year--active {
    color: #0000ff;
}

.selectItem__year--clicked {
    color: #ff0000;
}
.selectedYear__item{
    width: 25%;
    display: flex;
    gap: 5px;
}
.selectedYear__item>div {
    font-size: 1.3rem;
}

.selectedYear__item>div,
.selectedYear__item>svg {
    cursor: pointer;
    transition: transform 0.75s;
}

.selectedYear__item>div:hover,
.selectedYear__item>svg:hover {
    transform: scale(1.5);
}
