.selectedYear {
    padding: 20px 40px;
}

.selectedYear form,
.selectedYear__select>div {
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 5px;
}

.selectedYear__input {
    margin-bottom: 10px;
    width: 100%;
}

.selectedYear form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.selectedYear button {
    cursor: pointer;
}

.selectedYear__addYear {
    height: 30vh;
}

/* ul  */
.selectedYear__items {
    list-style-type: none;
    padding: 10px 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

/* li */

.selectedYear__item>div {
    font-size: 1.3rem;
}

.selectedYear__item>div,
.selectedYear__item>svg {

    cursor: pointer;
    transition: transform 0.75s;
}

.selectedYear__item>div:hover,
.selectedYear__item>svg:hover {
    transform: scale(1.5);
}
