.selectedYear {
    padding: 20px 40px;
}

.selectedYear form,
.selectedYear__select>div {
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 5px;
}

.selectedYear__input {
    margin-bottom: 10px;
    width: 100%;
}

.selectedYear form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.selectedYear button {
    cursor: pointer;
}

.selectedYear__addYear {
    height: 30vh;
}

.selectedYear__select div {
    display: flex;
    align-items: center;

}