.viewproducts{
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.viewproducts__empty{
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    font-size: 1rem;
}
.vieproducts__button{
    cursor: pointer;
}
