.viewSelectedYear {
    position: absolute;
    left: 10px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.viewSelectedYear a {
    transition: transform 0.75s;
    margin-top: 5px;
}

.viewSelectedYear a:hover {
    transform: scale(1.3);
}