.invoices {
    padding-bottom: 10px;
}

.invoices h2 {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-bottom: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
    padding: 10px 20px;
    margin-bottom: 20px;
    margin-top: 5px;
}

.invoices__list-section {
    padding: 0px 10px;
}

.invoices__emptyList {
    display: flex;
    align-items: center;
    justify-content: center;
}
