.invoices{
    padding-bottom: 10px;
}
.invoices h2{
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-bottom: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
    padding: 10px 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.invocies__sortWrapper{
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
    padding-bottom: 5px;
}
.invoices__sortBtn{
    width: 100px;
}