.addCorrectionInvoice {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    /* Półprzezroczyste tło */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Upewnij się, że jest na wierzchu innych elementów */
}

.addCorrectionInvoice__content {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    /* Ogranicz szerokość modala */
    width: 90%;
    /* Responsywna szerokość */
    max-height: 90vh;
    /* Ogranicz wysokość, żeby można było przewijać w razie potrzeby */
    overflow-y: auto;
    /* Dodaj przewijanie, jeśli zawartość jest za duża */
    display: flex;
    flex-direction: column;
    /* Aby elementy w środku układały się w kolumnie */
    gap: 15px;
    /* Odstępy między elementami formularza */
}

.addCorrectionInvoice__inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.addCorrectionInvoice__actions {
    display: flex;
    justify-content: flex-end;
    /* Przyciski po prawej */
    gap: 10px;
    /* Odstęp między przyciskami */
    margin-top: 20px;
    /* Odstęp od formularza */
}

body.no-scroll{
    overflow: hidden;
}