.addCorrectionInvoice {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.addCorrectionInvoice__content {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 90%;
    max-height: 90vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.addCorrectionInvoice__inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.addCorrectionInvoice__actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}
.addCorrectionInvoice__original-buyer {
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}
.addCorrectionInvoice h3 {
    letter-spacing: 1.5px;
    border-bottom: 1px solid #cccccc;
    padding: 10px 0px 5px 0px;
}
.addCorrectionInvoice__original-buyer p {
    margin: 5px 0;
    font-size: 14px;
    color: #333333;
}
.addCorrectionInvoice__item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}
.addCorrectionInvoice__actions--add {
    display: flex;
    justify-content: center;
}

.addCorrectionInvoice__total {
    font-size: 1.4rem;
}

.addCorrectionInvoice__total p span {
    font-weight: bold;
}

.correction_positive {
    color: #008000
}

.correction_negative {
    color: #ff0000;
}