.viewSelectedYear {
    position: absolute;
    left:10px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.viewSelectedYear a {
    transition: all 0.75s;
}

.viewSelectedYear a:hover {
    transform: scale(1.5);
}