@media print {
    caption {
        caption-side: top !important;
        text-align: right !important;
    }

    .records__revenue,
    .records__total {
        text-align: right !important;
    }

    .table__responsive td,
    .table__responsive th {
        padding: 0.1rem;
    }

    .no-print {
        display: none !important;
    }

    .records__selects {
        display: none;
    }

    .records__printMonthAdnYear {
        display: flex;
    }
}