.records {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.records__print {
  padding-top: 20px;
  width: 794px;
  height: 100%;
}
.records__print table {
  width: 90%;
  margin: 0 auto;
}
.records__wrapper {
  display: flex;
  justify-content: center;
}

.records__buttons {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  cursor: pointer;
}
.records__button {
  padding: 10px 20px;
  font-size: 1rem;
  margin-bottom: 10px;
  letter-spacing: 1px;
  color: #fafafafa;
}
.records ul {
  margin: 0;
  padding: 0;
}
.records ul li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  background: #fafafafa;
  padding: 10px 20px;
}

.records caption {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 1.2rem;
}
.records caption div {
  text-align: right;
}
.records__wrapper table {
  width: 100%;
}
.records table caption {
  text-align: left;
}
.records table thead {
  letter-spacing: 2px;
  font-weight: 600;
}

.records table tbody tr:nth-child(even) {
  background: #e7e7e7;
}
.records__summary,
.records__amount {
  text-align: right;
  letter-spacing: 2px;
}
.records__summary {
  font-weight: 600;
  font-size: 1.2rem;
}
.records__tableSummary {
  font-size: 1.1rem;
  margin-top: 20px;
  width: 100%;
}
.records__monthTd {
  text-align: left;
  padding-left: 50px;
  font-size: 1.3rem;
  letter-spacing: 2px;
}
.records__revenue {
  letter-spacing: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .records {
    padding: 5px;
  }
}

@media screen and (max-width: 600px) {
  .records {
    font-size: 0.8rem;
  }
}
