.records {
  padding: 20px;
  display: flex;
}

.records__actions {
  padding: 10px 0px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.records button {
  text-transform: none;
  letter-spacing: 3px;
}

.actions__summary {
  display: flex;
  align-items: center;
}

.records h2 {
  font-size: 2rem;
  width: 100%;
}

.records__print {
  padding-top: 20px;
  width: 794px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.records__print table {
  width: 90%;
  margin: 0 auto;
}

.records__total {
  margin-bottom: 10px;
}

.records__total span {
  margin-right: 20px;
}

.records__wrapper {
  flex: 1 1;
  min-width: 0;
}

.records__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  cursor: pointer;
  padding: 20px 30px;
}

.records caption {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 1.2rem;
  caption-side: top !important;
}

.records caption div {
  text-align: right;
}

.records__wrapper table {
  min-height: 20px;
  overflow-y: auto;
}

.records table caption {
  text-align: left;
}

.records table thead {
  letter-spacing: 2px;
  font-weight: 600;
}

.records__profit {
  font-weight: 600;
}

.records table tbody tr:nth-child(even) {
  background: rgb(238, 238, 250);
}

.records__summary,
.records__amount {
  text-align: right !important;
  letter-spacing: 2px;
}

.records__summary {
  font-weight: 600;
  font-size: 1.2rem;
}

.records__monthTd {
  text-align: left;
  padding-left: 50px;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.records__revenue {
  letter-spacing: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.records__selects {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.correction-details {
  display: block;
}

.records__summary-top {
  font-weight: normal;
  margin-left: 10px;
  font-size: 1rem;
}

.records__amount.negative-row,
.records__summary.negative-row,
.records__summary-top.negative-row {
  color: #ff0000;
}

.records__summary.positive-row,
.records__summary-top.positive-row {
  color: #008000;
}

.records__note {
  display: flex;
  justify-content: center;
  align-items: center;
}

.records__note>div {
  letter-spacing: 1.5px;
}

.records__note svg {
  animation: move 2s ease infinite;
}

@keyframes move {
  0% {
    transform: translateY(0)
  }

  50% {
    transform: translateY(-50%)
  }

  0% {
    transform: translateY(0)
  }
}

@media screen and (max-width: 800px) {
  .records {
    padding: 5px;
  }
}

@media screen and (max-width: 600px) {
  .records {
    font-size: 0.8rem;
  }
}