.cost {
  margin-bottom: 5px;
  background: #ebebebfa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.cost__item {
  width: 30%;
}
.cost__item > span {
  font-weight: 600;
}
.cost__icons {
  cursor: pointer;
}
