.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #808080;
    border-radius: 0px 0px 5px 5px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    background: url("../../assets/pic/background.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #fafafafa;
    text-shadow: 2px 2px 2px #000000;
}
.header ul{
    padding-inline-start: 0px;
}
.header__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left>span {
    padding: 10px;
}

.header__left a {
    letter-spacing: 2px;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 600;
}

.header__center {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 60%;
    
    /* border-bottom: 3px solid #a4b0cc; */
    /* border-top: 3px solid #a4b0cc; */
}

.header__center li {
    box-sizing: border-box;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    border-bottom: 3px solid #a4b0cc;
}

.header__center li::before {
    content: "";
    display: block;
    border-top: 3px solid #a4b0cc;
    margin-bottom: 5px;
    transition: transform 0.75s ease-in-out;
    transform: scaleX(0);
    transform-origin: 0 50%;
}
.classLi{
    border-top: 3px solid #a4b0cc;
    transform: scaleX(1);
}
.header__center li:hover::before {
    /* content: "";
    display: block; */
    transform: scaleX(1);
}
.header__center a {
    text-decoration: none;
    color: #fafafafa;
    letter-spacing: 1.5px;
    font-weight: 600;
}

.header__right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.header__user {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__pulldownMenu {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    width: 100%;
    top: 60px;
    transition: transform 0.5s ease-in;
    transform-origin: right 0;
}

.header__pulldownMenu ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__pulldownMenu ul li {
    padding: 10px 20px;
    width: 60%;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.4);
    transition: background 0.75s ease-in-out;
}

.header__pulldownMenu ul li:hover {
    background: #1976d2;
}