.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px 20px;
    border-bottom: 1px solid #808080;
    border-radius: 0px 0px 5px 5px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    background: url("../../assets/pic/background.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #fafafafa;
    text-shadow: 2px 2px 2px #00000070;
    z-index: 999;
}

.header ul {
    padding-inline-start: 0px;
}

.header__left img {
    width: 200px;
}

.header__right {
    padding-right: 20px;
}

.header__logout:hover {
    transform: scale(1.5);
}

.header__right {
    margin-top: -20px;
}

.header__right--icon {
    display: flex;
    justify-content: flex-end;
    margin-top: -10px;

}

/* .header__year {
   position: absolute;
   top: 40px;
   right: 20px;
   color: #fafafafa;

} */

/* .header__year>div {

} */

@media screen and (max-width: 550px) {
    .header {
        justify-content: center;
        flex-direction: column;
        height: auto;
        font-size: 1rem;
    }
}