.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border-bottom: 1px solid #808080;
    border-radius: 10px;
    font-size: 1.2rem;
    letter-spacing: 1px;
}
.header__left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__left > span{
    padding: 10px;
}

.header__left a{
    letter-spacing: 2px;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 600;
}
.header__right{
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;
}
.header__button{
    padding: 10px 20px;
    border: transparent;
    border-radius: 10px;
    color: #ff4500;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    transition: color 0.75s;
}
.header__button:hover{
    color: rgb(255, 131, 86);
}