.createinvoice{
    padding-bottom: 40px;
}
.createinvoice__text{
    font-size: 1.3rem;
    padding: 20px 30px;
    font-weight: 600;
    letter-spacing: 2px;
}
.createinvoice__wrapper{
    display: flex;
    justify-content: space-around;

}
.creativeinvoice__summary{
    /* text-align: right; */
    font-size: 1.2rem;
    margin-bottom: 10px;
} 
.createinvoice__footer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.createinvoice__button{
    margin-left: 10px;
    padding: 10px 20px;
    border: transparent;
    border-radius: 10px;
    background: #ff4500;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    transition: background 0.75s;
}
.createinvoice__button:hover{
    background: rgb(255, 131, 86);
}
.createinvoice__footer{
    margin-right: 40px;
    margin-top: 20px;
}