.createinvoice{
  padding: 20px 40px;
}
.createinvoice__prev {
  display: flex;
  padding: 20px 30px;
}

.createinvoice__formtop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap-reverse;
}

/* .createinvoice */
.formtop__input {
  width: 40%;

}

.formtop__input>div {
  margin-bottom: 20px;
}

.formtop__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.formtop__input_row {
  width: 33%;
}
/* is found in children's components*/
.createinvoice__text {
  font-size: 1rem;
  padding: 20px 0px 10px 0px;
  font-weight: 600;
  letter-spacing: 3px;
}

.createinvoice__error {
  display: flex;
  justify-content: center;
}

.creativeinvoice__buttonWrapper {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  margin-right: 20px;

}

.createinvoice__wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.creativeinvoice__summary {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.creativeinvoice__buttonAdd{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .createinvoice__prev {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 30px;
  }

  .formtop__input_row {
    width: 100%;
    margin-bottom: 10px;
  }

  .creativeinvoice__buttonWrapper {
    width: 100%;
    align-items: center;
  }
}
@media screen and (max-width: 550px) {
  .createinvoice{
    padding: 5px 10px;
  }
}
@media screen and (max-width: 500px) {
  .createinvoice__text {
    font-size: 1.1rem;
  }

  .formtop__input {
    width: 90%;
  }
}