.hintsList {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 56px;
    padding: 0;
    font-size: 1rem;
    background: #ffffff;
    border: 1px solid #808080;
    border-radius: 1px 1px 10px 10px;
    z-index: 9999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    overflow-y: scroll;
    cursor: pointer;
}

.hintsList__container {
    box-sizing: border-box;
    overflow-y: scroll;
}


.hintsList__item,
.hintsList__no-results {
    box-sizing: border-box;
    padding: 10px 20px;
    min-height: 40px;
    color: #000000;
    background-color: #ffffff;
    transition: color 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.hintsList__item:hover,
.hintsList__item.active {
    color: #ffffff;
    background-color: #007bff;
}

.hintsList__item:not(:last-child),
.hintsList__no-results:not(:last-child) {
    border-bottom: 1px solid #000000;
}

.hintsList__item {
    display: flex;
    align-items: center
}

.hintsList__item>div {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.hintsList__item>div:first-child {
    justify-content: flex-start;
}

/* W przypadku, gdy chcemy, aby niektóre kolumny miały inne szerokości,
   można dodać dodatkowe klasy, np.:
.hintsList__item > .wide {
    flex-grow: 2;
}
.hintsList__item > .narrow {
    flex-grow: 0.5;
} */


@media screen and (max-width: 800px) {
    .hintsList {
        width: 90% !important;
        left: 50%;
        transform: translateX(-50%);
    }
}