.invoicesitem {
  margin-bottom: 5px;
  background: #ebebebfa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.invoicesitem__item {
  width: 30%;
}

.invoicesitem__number {
  align-items: center;
}
.invoicesitem__number a {
  margin-left: 5px;
}
.invoicesitem__icons {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  width: 10%;
}
