.invoicesitem {
  margin-bottom: 5px;
  background: #ebebebfa;
  padding: 20px;
  border-radius: 10px;
}

.invoicesitem__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}

.invoicesitem__content {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
}

.invoicesitem__item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 20%;
}


.invoicesitem__number a {
  margin-left: 5px;
}

.invoicesitem__icons {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10%;
}

.invoicesitem__icons>div {
  width: 33%;
}

.invoicesitem__note {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border-top: 1px solid #d3d3d3;
  padding-top: 10px;
  color: #ff0000;
  font-weight: 600;
  letter-spacing: 2px;
}

@media screen and (max-width: 800px) {
  .invoicesitem__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .invoicesitem {
    justify-content: center;
  }

  .invoicesitem__item {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .invoicesitem__icons{
    gap: 20px;
    justify-content: center;
  }
}