.costHinst {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 56px;
    left: 0;
    padding: 0px;
    width: 100%;
    font-size: 1rem;
    background: #ffffff;
    border: 1px solid #808080;
    border-radius: 1px 1px 10px 10px;
    z-index: 9999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    overflow: scroll;
    cursor: pointer;
}
.costHinst__item,
.costHinst__no-results {
    box-sizing: border-box;
    padding: 10px;
    min-height: 40px;
    color: #000000;
    background-color: #ffffff;
    transition: color 0.3s ease-in-out;
    display: flex;
    align-items: center;
    overflow: scroll;
    cursor: pointer;
}

.costHinst__item:not(:last-child),
.costHinst__no-results:not(:last-child) {
    border-bottom: 1px solid #000000;
}

.costHinst__item:hover,
.costHinst__item.active {
    color: #ffffff;
    background-color: #007bff;
}

.costHints__close:hover {
    background: rgb(240, 157, 127);
}