.login{
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login__wrapper{
    height: 100%;
    border: 1px solid #808080;
    padding: 40px 60px;
    justify-content: center;
    border-radius: 10px;
}
.login__wrapper h2{
    text-align: center;
    letter-spacing: 2px;
}
.login__row{
    margin-bottom: 10px;
}
.login__inputs, .login__buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.login__inputs{
    flex-flow: column wrap;
}
.login__buttons{
    flex-flow: row wrap;
    justify-content: space-around;
}
.login__buttons > button{
    padding: 10px 20px;
    border: transparent;
    border-radius: 10px;
    background: #ff4500;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    transition: background 0.75s;
}
.login__buttons > button:hover{
    background: rgb(255, 131, 86);
}
.login__buttons > span{
    font-size: 1.5rem;
    padding: 10px 20px;
}

.login__phone{
    display: none;
}