.app {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-size: 14px;
  font-family: 'tahoma', sans-serif;
}
h2{
  letter-spacing: 2px;
}
.app__login {
  min-height: 100%;
}

/* note invoice (used createinvoice and invoiceitem components*/
.note {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.note__row {
  width: 90%;
}

/* filter elements (used invoices and costs components)*/
.datefilter__input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.datefilter__input--width {
  width: 60%;
}

.datefilter__button {
  margin-left: 10px;
  cursor: pointer;
}

.namefilter__input {
  padding: 10px 20px;
}

/* table products and view invoices*/
table {
  width: 100%;
}

table,
td {
  border: 1px solid #000000;
  border-collapse: collapse;
  word-wrap: break-word;
}

td {
  height: 30px;
  padding: 5px;
  text-align: center;
}

.table__title {
  width: 350px;
  text-align: left;
}

.table__price {
  width: 70px;
}

body.no-scroll {
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  table th {
    font-size: .55em;
  }
}