.app{
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 14px;
  font-family: 'tahoma', sans-serif;
}
table{
  /* table-layout: fixed;
  width: 100%; */
}
table, td{
  border: 1px solid #000000;
  border-collapse: collapse;
  word-wrap:break-word;
}

td{
  height: 30px;
  padding: 5px;
  text-align:center;
}
.table__title{
  width: 350px;
  text-align: left;
}
.table__price{
  width: 70px;
}