.formtop{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
}
.formtop__input{
    width: 40%;

}
.formtop__toggleButton{
    padding: 0px 0px 20px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.formtop__info{
    line-height: 20px;
    text-align: justify;
    width: 70%;
}
.formtop__icon{
    width: 20%;
}
.formtop__toggleButton span{
    font-weight: 600;
    letter-spacing: 2px;
}
.formtop__input > div{
    margin-bottom: 10px;
}

.formtop__input > input{
    height: 30px;
    text-align: center ;
    width: 100%;
    outline-color: #1976d2;
    font-size: 1.2rem;
}
.formtop__wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.formtop__input_row{
    width: 25%;
}


@media screen and (max-width: 800px) {
    .formtop__input_row{
      width: 100%;
      margin-bottom: 10px;
    }

  }

  @media screen and (max-width: 500px) {
    .formtop__input{
        width: 90%;
    }
  }